
html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	line-height: 1;
	font-family: Garamond, serif;
	min-height: 100vh;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

section {
	background-image: url("https://images.unsplash.com/photo-1511497584788-876760111969?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
a {
	text-decoration: none;
	color: #fff;
}

/* Header */

#header {
		position: fixed;
		background: rgba(0, 0, 0, 0.5);
		font-size: 0.8em;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10000;
		color: #fff;
	}

		#header .logo {
		    max-width: 3.4em;
		    max-height: 3.4em;
		}

		#header div {
			display: inline-flex;
			width: fit-content;
			float: left;
			font-size: 1.6em;
			margin: 0.7em 3em;
		}

		#header span {
			margin: 0;
		}

		#header span {
			letter-spacing: 0.075em;
			text-transform: uppercase;
			align-self: center;
			margin-left: 1em;
		}

		#header nav {
			position: relative;
			letter-spacing: 0.075em;
			text-transform: uppercase;
			margin: 1.25em 3em ;
			width: fit-content;
			float: right;
		}

			#header nav ul {
				list-style: none;
				padding-left: 0;
			}

				#header nav ul li {
					display: inline-block;
					margin-left: 1.5em;
					padding-left: 0;
				}


					#header nav ul li a {
						border: solid 1px transparent;
						color: inherit;
						display: inline-block;
						line-height: 1em;
						padding: 0.6em 0.75em;
						text-decoration: none;
					}

					#header nav ul li input[type="button"],
					#header nav ul li input[type="submit"],
					#header nav ul li input[type="reset"],
					#header nav ul li button,
					#header nav ul li .button {
						font-size: 1em;
						min-width: 0;
						width: auto;
					}

					/*#header nav ul li.active > a, #header nav ul li:hover > a {
						-moz-transition: all 0.2s ease-in-out;
						-webkit-transition: all 0.2s ease-in-out;
						-ms-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						background: rgba(255, 255, 255, 0.15);
					}*/

			#header nav ul li.active > a, #header nav ul li:hover > a {
				border: solid 1px;
			}

/* Button */
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
		background: none;
		border: solid 1px;
		border-radius: 7px;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 900;
		letter-spacing: 2px;
		min-width: 18em;
		padding: 0 0.75em;
		line-height: 3.75em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		button,
		.button {
			background: rgba(0, 0, 0, 0.5);
			border-color: #fff;
			color: #fff !important;
			width: 100%;
		}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
			background: rgba(255, 255, 255, 0.15) !important;
			border-color: #000 !important;
		}

/* Content */

.content {
	display: flex;
	color: #fff;
}

.content .column {
	height: 50%;
	width: 35%;
	margin: 0 5% 0 10%;
	padding: 11em 0 0 0;
}

.content .column img {
	max-width: 70%;
	max-height: 70%;
}

.content .column h2 {
	margin-bottom: 2em;
}

.content .main {
	height: 50%;
	width: 60%;
	margin: 0 10%;
	padding: 11em 0 0 0;
}

/* Form */

label {
	font-size: 1.2em;
	font-weight: 500;
}

input {
	margin: 1em 0 2em 0;
	height: 3em;
	width: 50%;
	background: rgba(0, 0, 0, 0.5);
	border: solid 1px white;
	border-radius: 7px;
}

input[type="submit"] {
	height: 3.75em !important;
}

input[type="text"] {
	color: #fff;
	font-size: 1em;
	padding: 0 1em;
}
